EVM_SEED_PHRASE="window bridge candle forest mirror storm anchor cloud river shadow stone engine"

EVM_gen_addr_index=5

order_lifetime=999 
# minutes

ww_threads_qtty=50
# waiting_worker threads quantity

ww_check_delay=10
# in seconds ; delay to recheck deposit transfer

pw_threads_qtty=50
# processing_worker threads quantity